@model Salario


<section class="bg-dark text-white text-center py-3">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="text-uppercase mb-3">Operadores Matemáticos</h1>
        <p class="font-weight-light fs-2">Salário com Juros</p>
    </div>
</section>

<div class="container mt-4">
    <div class="row justify-content-md-center">
        <form method="post" class="col-lg-8 col-md-12">
            <p class="mb-4">
                Analisando a fórmula "Salário = (DiasEmAtraso * TaxaJuros)/100 + Valor)", vamos encontrar o salário X com valor Y de juros em dias Z 
                de atraso. 
            </p>
            <div class="row mb-4">
                <div class="col">
                    <label asp-for="Valor" class="form-label"></label>
                    <input asp-for="Valor" class="form-control">
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="TaxaJuros" class="form-label"></label>
                    <input asp-for="TaxaJuros" class="form-control">
                    <span asp-validation-for="TaxaJuros" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <label asp-for="DiasEmAtraso" class="form-label"></label>
                    <input asp-for="DiasEmAtraso" class="form-control">
                    <span asp-validation-for="DiasEmAtraso" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="SalarioComJuros" class="form-label"></label>
                    <input asp-for="SalarioComJuros" class="form-control" disabled>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Calcular</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
